
<div>
  <p><%= Date.today.strftime("%A, %d %B %Y") %></p>
  <img src="<%= @data.icon_url %>">
  <p><%= @data.main %></p>
  <p><strong>Description:</strong></p>
  <p><%= @data.description %></p>
  <p><strong>Temperature:</strong></p>
  <p><%= @data.temp %> Celcius</p>
</div>